@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');

/* GERAL */

* {
    word-break: break-all;
}

body {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

input {
    outline: none;
    padding-left: 1rem;
}

section {
    display: none;
}

.show {
    display: flex;
}

#nome-jogo, #button-jogar-menu, #button-voltar-jogo, #titulo-escolher-escolhas, .versus, .containerPontucao, .popUpVencedorJ.show, .popUpVencedorC.show {
    font-family: 'Luckiest Guy', sans-serif;
}

.opcoesEscolhasJogador, .nomes, #empate, .buttonRecomecarPerdeu, .buttonRecomecarGanhou, .buttonInicio-popUp {
    font-family: 'Fredoka', sans-serif;
}

/* MENU */
#menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100vh;
    width: 100vw;
}

#menu::before, #jogo::before {
    content: ""; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background-image: url("imagens/Untitled design.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 4%;
    z-index: -1;
}

#nome-jogo {
    height: 55vh;
    max-height: 55vh;
    display: flex;
    place-items: center;
    color: #232939;

    word-break: break-word;
    font-size: 4.5rem;
    max-width: 50vw;
}

.opcoesMenu {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 5rem;
    box-sizing: border-box;
    
    height: 45vh;
}

#input-name-jogador {
    width: 25vw;
    background-color: #f4f4f4;
    
    border-style: double;
    border-color: #374c83;
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.11);
}

#input-name-jogador::placeholder{
    color: #0000005a;
}

#button-jogar-menu, #button-voltar-jogo {
    background-color:  #374c83;
    color: #ffffff;
    border: none;
    cursor: pointer;

    font-size: 1.3rem;
}

#input-name-jogador, #button-jogar-menu, #button-voltar-jogo{
    max-height: 8vh;
    height: 8vh;
    border-radius: 1.5rem;
}

/* JOGO */
#jogo {
    height: 100vh;
    width: 100vw;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

#button-voltar-jogo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: 0 1rem 0 1rem;
}

.containerGeral {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-width: 60vw;
    min-height: 45vh;
    margin-bottom: 1.5rem;
    
    background-color: #eeeeee;
    border-radius: 1.5rem;
    box-shadow: 0 4px 12px rgba(70, 77, 88, 0.3);
}

.nomes {
    padding-bottom: 1rem;
}

.mostrarEscolhas {
    height: 15vw;
    min-height: 15vw;
    width: 15vw;
    border-radius: 50%;
    background-color: #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    position: relative;
}

.mostrarEscolhas img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 45%;
    max-width: 45%;
}

.versus {
    border-radius: 50%;
    background-color: #eeeeee;
    border: 2px solid #374c83;
    color: #374c83;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4vw;
    min-height: 4vw;
}

.containerEscolherEscolhas {
    /* width: 60vw; */
    max-width: 50%;
    background-color: #374c83;
    color:#ffffff;
    box-shadow: 0 4px 12px rgba(70, 77, 88, 0.3);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#titulo-escolher-escolhas {
    position: relative;
    top: 0.5rem;
}

.conjuntoEscolhasJogador {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    max-width: 100%;
    padding: 1rem;
    
    background-color:#eeeeee;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.opcoesEscolhasJogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    max-width: 20%;

    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(70, 77, 88, 0.3);

    transition: transform 0.13s ease-in-out;
}

.opcoesEscolhasJogador img {
    max-height: 25%;
    max-width: 25%;
}

.containerPontucao {
    background-color:  #374c83;
    color: #ffffff;
    border: none;
    border-radius: 1.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 8vw;
    padding: 0 1rem 0 1rem;

    position: fixed;
    top: 1rem;
    right: 1rem;
}

#escolha-jogador-pedra {
    background-color: #c54c3f;
    color: #5e0c03;
}

#escolha-jogador-papel {
    background-color: #16A085; 
    color: #005141;
}

#escolha-jogador-tesoura {
    background-color: #5DADE2;
    color: #064772; 
}

.popUpVencedorJ, .popUpVencedorC {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50vh;
    width: 65vw;

    gap: 2.5rem;

    border-radius: 1rem;
    background-color: #eef3ff;
}

.popUpVencedorJ.show {
    /* box-shadow: 0 4px 12px rgba(70, 77, 88, 0.3); */
    box-shadow: 0 4px 12px rgba(70, 77, 88, 0.3);
    color: #155724;
}

.popUpVencedorC.show {
    color: #721c24;
    /* box-shadow: 0 4px 12px rgba(70, 77, 88, 0.3); */
    box-shadow: 0 4px 12px rgba(70, 77, 88, 0.3);
}

.popUpVencedorJ.show, .popUpVencedorC.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons {
    display: none;
}

.buttons.show {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.p-principal-pop-ups { 
    font-size: 3rem; 
}

.buttonRecomecarPerdeu, .buttonRecomecarGanhou, .buttonInicio-popUp {
    max-height: 6.5vh;
    height: 6.5vh;
    cursor: pointer;
    
    font-size: 1.2rem;
    border: 2px solid #2b3f71;
    border-bottom: 4px solid #2b3f71;
    border-radius: 1rem;
    /* box-shadow: 2px 4px 8px #374c83; */
}

.buttonRecomecarPerdeu, .buttonRecomecarGanhou {
    background-color:  #374c83;
    color: #ffffff;
}

.buttonInicio-popUp {
    background-color: #d4d4d4;
    color: #5b5b5b;
    max-width: 5vw;
    width: 5vw;
}

#empate {
    display: none;
}

#empate.show {
    background-color: #374d83;
    border-radius: 0.8rem;
    padding: 0 1rem 0 1rem;
    height: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    color: #eeeeee;

    position: absolute;
    top: 10%; 
}


/* SEÇÃO DE ANIMAÇÕES */

.opcoesEscolhasJogador:hover {
    transform: translate(-50%, -50%), scale(1.1);
}

.buttonRecomecarPerdeu:hover {
    background-color: #2b3f71;
}

.buttonRecomecarGanhou:hover {
    background-color:  #2b3f71;
}

.buttonInicio-popUp:hover {
    background-color: #bababa;
}

.popUpVencedorC.show, .popUpVencedorJ.show {
    animation: show-popup 0.8s ease-in-out forwards;
}

.opcoesEscolhasJogador:hover {
    transform: translateY(-0.3rem);
}

#span-voce, #span-computador {
    display: inline-block; /* para o scale funcionar */
}

.animate-pontuacaoJ {
    animation: pontuacaoJ 1s ease-in-out forwards;
}

.animate-pontuacaoC {
    animation: pontuacaoC 1s ease-in-out forwards;
}

.img-pedra.show{
    animation: pedraAnim 2s ease-in-out forwards;
}

#empate.show {
    animation: empate 0.5s ease-in;
}

@keyframes pedraAnim {
    0% { opacity: 0;}
    10% { opacity: 0.8; transform: translate(-50%, -50%) scale(1.2);}
    20% { opacity: 0.8; transform: translate(-50%, -50%) scale(1);}
    30% {  opacity: 0;}

    40% { opacity: 0.8; transform: translate(-50%, -50%) scale(1.2);}
    50% { opacity: 0.8; transform: translate(-50%, -50%) scale(1);}
    60% { opacity: 0;}

    70% { opacity: 0.8; transform: translate(-50%, -50%) scale(1.2);}
    80% { opacity: 0.8; transform: translate(-50%, -50%) scale(1);}
    90% { opacity: 0;}
    100% { opacity: 0;}
}


@keyframes pontuacaoJ {
    0%{transform: scale(1.5); color: #28a745;}
    50%{transform: scale(1.2); color: #28a745;}
    100%{transform: scale(1); color: #ffffff;}
}

@keyframes pontuacaoC {
    0%{transform: scale(1.5); color: #c54c3f;}
    50%{transform: scale(1.2); color: #c54c3f;}
    100%{transform: scale(1); color: #ffffff;}
}

@keyframes show-popup {
    0%{
        transform: translate(-50%, -50%);
        opacity: 0.2;
    }

    50%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes empate {

    0% {
        opacity: 0.05;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }

}
